:root {

  --bg: #0f172a;

  --text: #e5e7eb;

  --card: #1e293b;

}



.light {

  --bg: #f8fafc;

  --text: #0f172a;

  --card: #e5e7eb;

}



body {

  margin: 0;

  font-family: system-ui;

  background: var(--bg);

  color: var(--text);

}



.navbar {

  display: flex;

  justify-content: space-between;

  padding: 15px 30px;

  position: sticky;

  top: 0;

  background: var(--bg);

}



nav a {

  margin: 0 10px;

  text-decoration: none;

  color: var(--text);

}



.hero {

  text-align: center;

  padding: 60px 20px;

}



.hero img {

  width: 150px;

  border-radius: 50%;

}



section {

  padding: 50px 20px;

  max-width: 900px;

  margin: auto;

}



.work-card {

  background: var(--card);

  padding: 20px;

  margin: 15px 0;

  border-radius: 12px;

}



.btn {

  padding: 12px 20px;

  background: #2563eb;

  color: white;

  text-decoration: none;

  border-radius: 8px;

}